<h1>Shop: {{shop.shopName}}</h1>

<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-lg-3">Shop Path</label>
    <div class="col-lg-9">
      <p class="form-control-static">{{shop.path}}</p>
    </div>
  </div>
    {{#if shop.serverStarted}}
      <div class="form-group">
        <label class="control-label col-lg-3">Navigation</label>
        <div class="col-lg-9">
          <a target="_blank" class="btn btn-default btn-lg" href="{{shop.installerURL}}">Go to Installer</a>
          <a target="_blank" class="btn btn-default btn-lg" href="{{shop.backOfficeURL}}">Go to Back-Office</a>
          <a target="_blank" class="btn btn-default btn-lg" href="{{shop.frontOfficeURL}}">Go to Front-Office</a>
        </div>
      </div>
    {{/if}}
  <div class="form-group">
    <label class="control-label col-lg-3">Server Control</label>
    <div class="col-lg-9">
      {{#if shop.serverStarted}}
        <form method="POST" action="/stop/{{shop.folderName}}">
          <button class="btn btn-warning btn-lg">Stop Server</button>
        </form>
      {{else}}
         <form method="POST" action="/start/{{shop.folderName}}">
          <button class="btn btn-default btn-lg">Start Server</button>
        </form>
      {{/if}}
    </div>
  </div>
</div>

<form method="post" action="/shops/{{shop.folderName}}/delete" class="form-horizontal">
  <div class="form-group">
    <div class="col-lg-9 col-lg-offset-3">
      <button class="btn btn-lg btn-danger">Delete Shop</button>
    </div>
  </div>
</form>

<h1>Automatically Taken Screenshots</h1>

{{#each shop.screenshots}}
  <img src="/{{this}}" alt="A screenshot.">
{{/each}}